[submodule "Moly/vendor/spdlog"]
	path = Moly/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Moly/vendor/glfw"]
	path = Moly/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Moly/vendor/glm"]
	path = Moly/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Moly/vendor/ImGUI"]
	path = Moly/vendor/ImGUI
	url = https://github.com/ocornut/imgui/tree/docking
[submodule "Moly/vendor/assimp"]
	path = Moly/vendor/assimp
	url = https://github.com/assimp/assimp
